@font-face {
	font-family: "Tamzen";
	font-weight: normal;
	font-style: normal;
	src: local("Tamzen"),
		url(/fonts/Tamzen/Tamzen6x12r.ttf) format("truetype");
}

@font-face {
	font-family: "Tamzen";
	font-weight: bold;
	font-style: normal;
	src: local("Tamzen-Bold"),
		url(/fonts/Tamzen/Tamzen6x12b.ttf) format("truetype");
}

:root {
	--color-rosewater: #f5e0dc;
	--color-flamingo: #f2cdcd;
	--color-pink: #f5c2e7;
	--color-mauve: #cba6f7;
	--color-red: #f38ba8;
	--color-maroon: #eba0ac;
	--color-peach: #fab387;
	--color-yellow: #f9e2af;
	--color-green: #a6e3a1;
	--color-teal: #94e2d5;
	--color-sky: #89dceb;
	--color-sapphire: #74c7ec;
	--color-blue: #89b4fa;
	--color-lavender: #b4befe;
	--color-text: #cdd6f4;
	--color-subtext1: #bac2de;
	--color-subtext0: #a6adc8;
	--color-overlay2: #9399b2;
	--color-overlay1: #7f849c;
	--color-overlay0: #6c7086;
	--color-surface2: #585b70;
	--color-surface1: #45475a;
	--color-surface0: #313244;
	--color-base: #1e1e2e;
	--color-mantle: #181825;
	--color-crust: #11111b;
}

body {
	background-color: var(--color-base);
	font-family: Tamzen;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--color-text);
	margin: 0;
}

pre {
	background-color: var(--color-crust);
	border: 1px solid var(--color-surface0);
	color: var(--color-green);
	white-space: pre-wrap;
	overflow: scroll;
	padding: 7.5px;
}

code {
	background-color: var(--color-crust);
	color: var(--color-green);
	padding: .2em .4em;
	border-radius: .2em;
}

#app {
	min-height: 100vh; 
	max-width: 800px;
	margin: 0 auto;
	padding: 1em;
	display: grid;
    grid-template-rows: auto 1fr auto;
	box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
	color: var(--color-green);
	text-decoration: none;
	border-bottom: 1px dotted var(--color-green);
}

a:hover {
	color: var(--color-lavender);
	border-bottom: 1px dotted var(--color-lavender);
}